<head>
  <html lang="en">
  <head><title>New Castle Weather Page</title>
  <meta http-equiv="refresh" content="300">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%=  javascript_include_tag 'swfobject.js' %>
</head>
<body>
  <table>
    <tr>
      <td colspan="3">
        <img src="images/header.gif" alt="" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Downtown Weather Station
      </td>
    </tr>

    <tr>
      <td colspan="2">
        Daily Summary for <%=h @date.strftime("%B %d, %Y")%>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Current Conditions as of <%=h @date.strftime("%H:%M %A, %B %d, %Y")%>
      </td>
    </tr>

    <tr>
      <td>
        Temperature:
      </td>
      <td>
        <%=h @current_readings.outside_temperature %><sup>o</sup>F
      </td>
    </tr>
    <tr>
      <td>
        Heat Index:
      </td>
      <td>
        n/a <sup>o</sup>F
      </td>
    </tr>

    <tr>
      <td>
        Wind Chill:
      </td>
      <td>
        <%=h @wind_chill %><sup>o</sup>F
      </td>
    </tr>
    <tr>
      <td>
        Dew Point:
      </td>
      <td>
        <%=h @dew_point %><sup>o</sup>F
      </td>
    </tr>

    <tr>
      <td>
        Humidity:
      </td>
      <td>
        <%=h @current_readings.humidity %>%
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= @temp %>
      </td>
    </tr>
    <tr>
      <td>
        Barometer:
      </td>
      <td>
        <%=h @current_readings.barometer %>"
      </td>
    </tr>
    <tr>
      <td>
        Trend:
      </td>
      <td>
        <%=h @current_readings.bar_trend %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= @bar %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Wind Information
      </td>
      <td>
        10 Minute Average
      </td>

    </tr>
    <tr>
      <td>
        Wind Speed:
      </td>
      <td>
        <%=h check_wind(@current_readings.wind_speed) %>
      </td>
      <td>
        <%=h check_wind(@current_readings.ten_min_average_wind_speed) %>
      </td>

    </tr>
    <tr>
      <td>
        Wind Direction:
      </td>
      <td>
        <%=h @current_readings.wind_direction %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= @wind %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Rain Information
      </td>
    </tr>

  </table>
</body>
<br>

</br>
<br>

</br>


<br>

</br>
<br>
<%= @wind %>
</br>
<br>
<%= @solar %>
</br>
