<head>
<%= stylesheet_link_tag "budget" %>
<%= javascript_include_tag :defaults %>
</head>

<body>
<input type="hidden" id="year" name="year" value="<%=  @year %>" />
<table border="0" >
  <tr>
    <td align="center">
      <%= collection_select(:request,:account_id,@accounts,:id, :select_code) %>
    </td>
  </tr>
  <tr>
    <td id="budget_container">
      <%= render :partial => 'budget_blank' %>
    </td>
  </tr>
</table>
<%= observe_field(:request_account_id,
   #:function => "alert('Element changed')",
                  #:on => :selected,
                  :frequency => 2,
                  :update => "budget_container",
                  #:before => "Element.show('spinner')",
                  #:complete => "Element.hide('spinner')",
                  :url =>{:action => :get_budget},
                  :with => "'tblAccountID=' + escape(value) + '&year=' + escape($('year').value)"
                  ) %>

</body>